# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName villa-lilleboe.com
AuthUserFile /home/villa/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/villa/public_html/_vti_pvt/service.grp
